.content {
  background-color: rgb(20, 20, 20);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 35px;
}

.button {
  background-color: crimson;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
  padding: 20px 107px;
}
