/* body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

/* -----Modelo utilizado no Movi-Card-Library-Stateful ---- */

body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 5px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  display: inline-block;
  height: 95%;
  margin-left: 15%;
  margin-top: 1rem;
  width: 70%;

}


.movie-card-image {
  width: 100%;

}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;

}

.div-area-imput {
  align-items: center;
  background-color: rgb(128, 128, 128, 0.7);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 15px 15% 15px 15%;
  text-align: center;
  width: 75%;

}

textarea {
  height:150px;
  width: 700px; 
  margin-right: 50px;
  margin-left: 30px;
}

input, select {
  width: 350px;
  margin-right: 50px;
  margin-left: 30px;
}

.div-area-textarea {
  align-items: center;
  background-color: rgb(128, 128, 128, 0.7);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  height: 180px;
  justify-content: center;
  margin: 15px 15% 15px 15%;
  text-align: center;
  width: 75%;

}

  .example-item {
      display: inline-block;
      height: 20px;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
      width: 20%;
  }
  .example-item_first {
      background-color: #FAA116;
      margin-left: 150px;
      text-align: center;
  }
  .example-item_second {
      background-color: #57C7C3;
      text-align: center;
  }
  .example-item_third {
      background-color: #3B97D3;
      text-align: center;
  }

.movie-card-storyline {
  font-size: 14px;
  margin-top: 0.5rem;
  text-align: center;

}

.rating {
  background-color: rgba(34, 182, 187, 0.3);
  border-radius: 25px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
  text-align: center;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;

}

/* ----Modelo utilizado no youTrybe---- */

@import url('https://fonts.googleapis.com/css2?family=Roboto');

.loading {
  align-items: center;
  animation: is-rotating 1s infinite;
  border: 6px solid grey;
  border-radius: 50%;
  border-top-color: cyan;
  height: 50px;
  width: 50px;

}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

} */

body,
html, 
#root {
  font-family: 'Roboto' , sans-serif;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.grid {
  display: grid;
  margin: 5px 0;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px;
  height: 100%;
  width: 100%;

}

.item {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  grid-column-start: 2;
  justify-content: space-evenly;

}

header {
  background: #eee;
  max-height: 56px;
  padding: 0.7rem;
  width: 100%;

}

img {
  height: auto;
  max-height: 36px;
  max-width: 75px;
  width: 100%;
  
}

.subtitle {
  color: #606060;
  font-size: 17px;
  margin-top: 10px;
  text-align: center;

}

.title {
  color: #030303;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;

}

.card-image {
  display: inline-block;
  margin-left: 5%;
  max-height: 300px;
  max-width: 90%; 

}

section {
  margin: 1rem 1.5rem 0;
  max-width: 288px;
  height: auto;
  transition: all ease-in-out 0.2s;
  width: 100%;

}

section:hover {
  background: rgba(189, 192, 192, 0.829);
  transform: translate(0, -10px);
}

.info {
  align-items: center;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0.75rem;
}

.red {
  color: red;
}

.auth {
  background: rgb(181, 247, 58);
  border-radius: 50%;
  height: 24px;
  margin: 0.5rem 1rem 0.5rem 0;
  width: 24px;
}

@media screen and ( max-width : 600px ) {
  
  .grid {
    grid-template-columns: 2;
  }

  section {
    height: 250px;
    margin: 1.5rem 0;
    max-width: none;
    margin: 1.5rem 0

  }
  
  .card-image {
    height: 180px;
    max-height: none;
    max-width: 100%;
    width: 100%;
   
  }

 
}
