body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.loading {
  display: flex;
  font-size: 28px;
  justify-content: center;
  padding: 48px 30px;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.movie-details {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  color: orangered;
  display: flex;
  font-size: 14px;
  justify-content: flex-start;
  padding: 12px 20px;
  text-decoration: none;
}
