body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.img-card { 
  width: 400px;
}

.list-cars {
  text-align: center;
}

.movie-card {
  border: 1px solid black; 
  display: inline-block;
  margin-left: 80px;
  margin-bottom: 20px;
  text-align: center;
  width: 420px;
}

.text-add-card {
  color: blueviolet;
  margin: auto 0;
}

.text-card {  
  text-align: justify;
  font-size: 15px;
  margin-left: 15px;
  width: 400px;
}

.text-link {
  color: #daa520
}

.title-card {  
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
}